Options +FollowSymLinks
RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTP_HOST} ^www.bkarogyamhealthcare.com [NC]
#RewriteRule ^(.*)$ https://bkarogyamhealthcare.com/$1 [R=301,L] 
#RewriteCond %{THE_REQUEST} ^.*/index.php
#RewriteRule ^(.*)index.php$ https://bkarogyamhealthcare.com/$1 [R=301,L]

RewriteRule ^index.html$ index.php
RewriteRule ^contact-us.html$ contact.php  
RewriteRule ^about-us.html$ about.php 
RewriteRule ^career.html$ career.php 
RewriteRule ^plan.html$ plan.php
RewriteRule ^legal.html$ legal.php
RewriteRule ^signup.html$ signup.php
RewriteRule ^signin.html$ signin.php

